#about-container {
    color: black;
    height: 200px;

    border: solid white 1px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px grey;

}

#about-title-container {
    width: 100%;
    text-align: center;
}

#about-title {
    font-size: 2.3em;
}

#about-text-container {
    text-align: center;
    padding: 15px;

}

#about-text {
    margin: 10px;

}