#qual-container {
    color: black;
    height: auto;

    border: solid white 1px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px grey;

}
#qual-title-container{
    width: 100%;
    text-align: center;
}

#qual-title {
    font-size: 2.3em;
}

.hr {
    margin: 25px;

}

#qual-list-container{
    width: 100%;
    height: 80%;
    text-align: center;
}

#qual-list-container > p {
    margin: 15px;
}

#qual-text-container{
    margin: 15px;
}