#section-container {
    color: black;
    height: auto;

    border: solid white 1px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px grey;


}

#skills-title-container {
    width: 100%;
    text-align: center;
}

#skills-title {
    font-size: 2.3em;
}

.hr {
    margin: 25px;

}


#skills-list-container{
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: row;

}

#skills-list-container-left {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#skills-list-container-right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}



