#work-exp-container {
    color: black;
    height: auto;

    border: solid white 1px;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 1px 1px 5px 1px grey;

}

#work-exp-title-container {
    width: 100%;
    text-align: center;
}

#work-exp-title {
    font-size: 2.3em;
}


.hr {
    margin: 15px;

}

#work-exp-comp-container {
	width: 100%;
	height: auto;
	margin: 25px;
}

#work-exp-comp-title {
	font-weight: 900;
	font-size: 1.3em;

}

#work-exp-comp-text {
	font-size: 1.1em;

}